spot_micro/build/
spot_micro/log/
spot_micro/install/
.vscode/
spot_micro/.vscode/
venv/
.venv/
__pycache__

policy_training/logs
*.png
*.txt
dockerfile
logs
.egg-info
.python-version
.idea/
.ipynb_checkpoints/
